/* --- フッター --- */
.site-footer {
    /* background: #ddf2fb !important;
    border-radius: 0 48px 48px 0 !important;
    box-shadow: 0 0 0 0 transparent !important; */
    padding: 6rem 0 2rem;
}
.footer-inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
}

/* ロゴ */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 0;
}

.footer-links {
    display: flex;
    gap: 28px;
}
.footer-link {
    color: var(--main_color);
    text-decoration: none;
    position: relative;
    transition: color 0.2s;
}
.footer-link-underline {
    text-decoration: underline !important;
}
.footer-link:not(.footer-link-underline):hover {
    text-decoration: underline;
}
.footer-copyright {
    color: var(--black);
    font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column !important;
        gap: 8px;
    }
}
